<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Broadcast_Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\broadcast_platform\venv\Scripts\python.exe|E:\broadcast_platform\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
	<security>
      		<requestFiltering>
       			<requestLimits maxAllowedContentLength="737280000" />
      		</requestFiltering>
    	</security>
    </system.webServer>
</configuration>
