{% extends 'base.html' %}
{% load static %}
{% block title %}Employee List{% endblock %}
{% block body %}

<!-- Modal -->
{% csrf_token %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if employee %}
                <form action="{% url 'employee:employee_delete' employee.id %}" method="POST">
                    {%csrf_token %}
                    <p>Are you sure you want to delete "{{employee.emp_firstname}}"?</p>
                    <input type="submit" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                    <!-- <input type="submit" class="btn btn-primary" value="Confirm"> -->
                    <a class="btn btn-primary" href="{% url 'employee:employee_delete' employee.id %}">Confirm</a>
                </form>
                {% endif %}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- EndModal -->



<div id ="content-wrapper">
    <div class="card mb-3">
        <div id="Register Employee">
            <form action="">
                <a href="{% url 'employee:employee_register' %}" class="btn btn-info btn-sm" id=register>Register New Employee</a>
            </form>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Address</th>
                            <th scope="col">Contact Number</th>
                            <th scope="col">Mail Address</th>
                            <th scope="col">Department</th>
                            <th scope="col">Position</th>
                            <th scope="col">Level</th>
                            <th scope="col">Registered Date</th>
                            <th scope="col">Joining Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in employees %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.emp_firstname}}</td>
                            <td>{{i.emp_gender}}</td>
                            <td>{{i.emp_address}}</td>
                            <td>{{i.emp_contact_number}}</td>
                            <td>{{i.emp_mail}}</td>
                            <td>{{i.emp_department}}</td>
                            <td>{{i.emp_position}}</td>
                            <td>{{i.emp_level}}</td>
                            <td>{{i.emp_registered_date}}</td>
                            <td>{{i.emp_joining_date}}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{% url 'employee:employee_detail' i.pk %}"><span class="fa fa-eye"></span>View</a>
                                <a class="btn btn-sm btn-warning" href=""><span class="fa fa-eye"></span>Edit</a>
                                <a data-toggle="modal" class="btn btn-sm btn-danger deleteEmployee" id={{i.pk}} href="{% url 'employee:employee_delete' i.pk %}"><span
                                    class="fa fa-trash"></span> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function (){
        $(".deleteEmployee").click(function(){
            var id = this.id
            $.ajax({
                url:'',
                type:'POST',
                data:{
                  'id':id,
                  'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                },
              success:function(data){
                  $('#deleteModal .modal-dialog').html($('#deleteModal .modal-dialog', data));
                  $('#deleteModal').modal('show');
              },
            })
        })
    })
</script>
{% endblock %}