{% extends 'base.html' %}
{% block title %}Update Level {% endblock %}

{% block body %}
<!-- <style>
    form{
        margin-top: 3%;
    }
    #registerButton{
        margin-top: 5%;
    }
</style> -->

<div>
    <div class = "card card-login mx-auto mt-5">
        <div class="card-header">Update Level</div>

    <div class="card-body">
    
        <form method = "POST" action = "{{self}}" id = "level_register_form">

            {% csrf_token %}

            <div class="row">
                <div class="col-3">
                    <label for="level_name"> Level Name:</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="level_name" id="level_name" value={{level.level_name}}>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label for="level_description"> Level Description:</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="level_description" id="level_description" value="{{level.level_description}}">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input class="btn btn-primary" type="submit" value="Update">
    
                </div>
            </div>
        </form>
</div>
{% endblock %}