{% extends 'dashboard/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block pagetitle %}Home{% endblock %}
{% block breadcrumb %}Home / Dashboard{% endblock %}

{% block body %}

            <div style="margin:auto; padding:9rem; margin-left: auto; text-align: center;">
                <h3 style="font-size: 40px; font-weight: 900; color: #778899;">Welcome to the BroadCasting Platform</h3>
                <h5 style="font-size: 20px; font-weight: 700; color: #00008B;">Enjoy watching your streams :) :) :)</h5>
            </div>

{% endblock %}