{% extends 'dashboard/base.html' %}
{% block title %}Streams-List{% endblock %}
{% block pagetitle %}Streams{% endblock %}
{% block breadcrumb %}
    <a href="#">Streams</a>/ List
 {% endblock %}

{% block body %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Streams</h5>

        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Channel</th>
                    <th scope="col">Live</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for stream in streams %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td style="text-transform: capitalize">{{stream.stream_name}}</td>
                    <td style="text-transform: capitalize">{{stream.stream_channel.channel_name}}</td>
                    <td style="text-transform: capitalize">{{stream.is_live}}</td>
                    <td>
                        <a href="{% url 'streams:stream_update' stream.pk %}" class="btn btn-sm btn-primary">
                            <i class="fas fa-user-edit"></i>Edit
                        </a>
                        <!-- <a href="" class="btn btn-sm btn-danger deleteUser" data-bs-toggle="modal" 
                    id={{user.pk}}>
                        <i class="fas fa-trash-alt"></i>Delete
                    </a> -->
                        <a href="{% url 'streams:stream_delete' stream.pk %}" class="btn btn-sm btn-danger deleteUser"
                            data-bs-toggle="modal" data-bs-target="#basicModal" id={{stream.pk}}>
                            <i class="fas fa-trash-alt"></i>Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

    </div>

    
</div>

<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if stream_id is not None %}
                <p>Are you sure you want to delete Stream 
                    <strong style="text-transform: capitalize">"{{stream_name}}"</strong>
                </p>
                <a class="btn btn-danger" href="{% url 'streams:stream_delete' stream_id %}">
                    Delete
                </a>
                <a class="btn btn-primary" data-bs-dismiss="modal">
                    Cancel
                </a>

                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        $(document).ready(function () {
            $('.deleteUser').click(function () {
                var id = this.id
                $.ajax({
                    url: '',
                    type: 'POST',
                    data: {
                        'id': id,
                        'csrfmiddlewaretoken': csrftoken,
                    },
                    success: function (data) {
                        $('#basicModal .modal-dialog').html($('#basicModal .modal-dialog', data));
                        $('#basicModal').modal('show');
                    },
                })
            })
        })
    </script>

    {% endblock %}